node_modules
.env
*.sqlite
build

/public/uploads/user/*
!/public/uploads/user/default-user.jpg

/public/uploads/employee/*
!/public/uploads/employee/default-employee.jpg

/public/uploads/company/*
!/public/uploads/company/default-company.jpg